/* Flexbox Froggy

Os sapos precisam atravessar a lagoa de novo, desta vez para algumas vitórias-régias com bastante espaço em torno delas. Use uma combinação de justify-content e align-items. */

#pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

