/* Flexbox Froggy

Ah, não! Os sapos estão todos apertados em uma única linha de vitórias-régias. Espalhe-os usando a propriedade flex-wrap, que aceita os seguintes valores:

    nowrap: Todos os itens são apertados em uma única linha.
    wrap: Itens se separam em linhas adicionais.
    wrap-reverse: Itens se separam em linhas adicionais em reverso. */

#pond {
    display: flex;
    flex-wrap: wrap;
}

