/* Flexbox Froggy

Ajude esse exército de sapos a formar três colunas ordenadas usando uma combinação de flex-direction e flex-wrap. */

#pond {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

