/* Flexbox Froggy

Agora a correnteza agrupou as vitórias-régias no fundo. Use align-content para guiar os sapos até lá. */

#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}