/* Flexbox Froggy

Os sapos fizeram uma festa, mas é hora de ir para casa. Use uma combinação de flex-direction e align-content para levá-los até suas vitórias-régias. */

#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}