/* Flexbox Froggy

Leve os sapos para casa uma última vez utilizando as propriedades CSS que você aprendeu:

    justify-content
    align-items
    flex-direction
    order
    align-self
    flex-wrap
    flex-flow
    align-content */

#pond {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    flex-direction: column-reverse;
    justify-content: center;
}